@charset "utf-8";
/* CSS Document for EASYConnect by SURYA */




.row {
	margin-left:0px;
}

.btn-large {
	font-size: 14px;
}
.small {
	font-size:11px;
}

.grey {
	color: #888888;
}

.table thead th {
	color: #555555;
	font-size: 14px;
	font-weight: 700;
}

.label-success, .badge-success {
	background-color: #669933;
}






.hero-unit h1 {
	font-size: 58px;
	margin-bottom: 15px;
}

.dbr {
	border-bottom: 1px solid red;
}

.dbb {
	border-bottom: 1px solid blue;
}

.br {
	border-right: 1px solid #eeeeee;
}
.bt {
	border-top: 1px solid #eeeeee;
}
.bl {
	border-left: 1px solid #eeeeee;
}
.bb {
	border-bottom: 1px solid #eeeeee;
}



/* INNER PAGE */
.app-header {
	margin-right: 50px;
}
.app-header h1{
	font-size:20px;
	line-height:20px;
	margin:5px 0px 0px 0px;
}
.app-header h2{
	font-size:12px;
	line-height:20px;
	font-weight: normal;
	margin:0px;
}

.tabs-bar {
	clear: both;
	margin: 15px 35px 10px 0px;
	padding: 0px;
	border-radius: 8px;
}

.tabs-bar .navbar{
background-color: none;
border-bottom: 1px solid #dddddd;
}

.tabs-bar .navbar .nav > li {
margin-bottom: 0px;

}

.tabs-bar .navbar .nav > .active > a, .tabs-bar .navbar .nav > .active > a:hover, .tabs-bar .navbar .nav > .active > a:focus {
border-left: 1px solid #dddddd;
border-right: 1px solid #dddddd;
border-top: 1px solid #dddddd;
background-color: #ffffff;
box-shadow: none;
color: #555555;
text-decoration: none;
border-top-left-radius: 8px;
border-top-right-radius: 8px;
}

.tabs-bar .navbar-inner {
background: none;
border: 0;
border-radius: 0px;
box-shadow: none;
min-height: 40px;
padding-left: 20px;
padding-right: 20px;
}


.buttons-bar {
	clear: both;
	margin: 10px 35px 10px 0px;
	padding: 5px;
	border-radius: 8px;
	background: #eeeeee;
}
.buttons-bar button{
	margin-right:5px;
}
.table-icons i, .table-icons span{
	line-height: 40px;
}

.filter-bar {
	margin-top: 20px;
/*	background: #dddddd; */
	border: 0px solid #dddddd;
	padding-top: 8px;
	padding-left: 10px;
	line-height: 40px;
	height: 40px;
	margin-right: 40px;
}

.filter-bar h4{
	font-size: 14px;
}

.filter-bar li{
	float: left;
	margin-right: 15px;
	line-height: 40px;
	font-size:12px;
}
.filter-bar select {
	width: 90px;
	font-size:12px;
	padding: 2px 2px 2px 5px;
	margin: 0px;
}

.logo-inner {
	min-height: 42px;
	margin-top:0px;
	margin-left:0px;"
}

.page-container {
	margin-top: 45px;
	height: 100%;
}

.sidebar {
	margin-top:30px;
}

.content-area {
	padding-top:10px;
	padding-left:20px;
	border-top: 1px solid #e4e4e4;
	min-height: 650px;
	background: url("../img/bg_content.png") repeat-y;
}

.content-area h1{
	margin-top:0px;
	padding-bottom:10px;
	font-size: 20px;
	line-height: 15px;
	border-bottom: 2px ridge #ffffff;
	margin-right: 30px;
}

.content-area a{
	text-decoration: underline;
}

.to-box {
	padding: 15px 0px 0px 0px;
}
.to-box button{
	margin-top:30px;
	margin-left:5px;
}

.to-box .tolist {
	margin-top:30px;
	height: 700px;
	overflow-y: auto;
}

.to-box .well {
	padding: 5px 10px;
}

.tolist-sms-sent {
	width: 180px;
	margin-top:30px;
	border: 1px solid #dddddd;
	padding: 10px;
}

.tolist-sms-sent h5 {
	margin-top: 0px;
	margin-bottom: 0px;
	line-height: 20px;
	padding: 0px;
	font-weight: normal;
	font-size: 15px;
}

.tolist-sms-sent ul {
	margin-bottom: 20px;
	font-size: 13px;
}

.tolist-sms-sent hr {
	line-height: 15px;
	margin: 5px 0px;
	padding: 0px;
}


#tolist-ac {
	width: 200px;
}

#tolist-ac .accordion-heading {
	border-radius: 4px;
	background-image: linear-gradient(to bottom, #ffffff, #dddddd);
	border: 1px solid #999999;
}

#tolist-ac .accordion-heading a{
	text-decoration: none;
	color: #333333;
	font-weight: 400;
}

#tolist-ac .accordion-inner {
	border-top: 1px solid #E5E5E5;
	padding: 9px 15px;
	background: #ffffff;
	height: 120px;
	overflow: auto;
}

#tolist-ac .tolist-container {
	font-size: 12px;
}

.composer-box {
	margin-top:15px;
	margin-left:20px;
}

.send-box {
	margin-top:15px;
	margin-left:30px;
	width: 220px;
}

.review-box {
	margin-top: 30px;
	width: 175px;
	text-align: center;
}

.review-box h2 {
	margin: 3px 0px;
	line-height: 30px;
	font-size: 26px;
	color: #666666;
	font-weight: normal;
}

.time-box {
	margin-top:30px;
}

.time-box select {
	width: 170px;
}

.content-area h3{
	font-size: 18px;
	margin: 0px;
	padding: 0px;
	line-height: 20px;
}

.btn-select-to {
	margin-left:80px;
}

.msg-box {
	background: url("../img/bg_composer.png") no-repeat;
	height: 410px;
	margin-top:25px;
	margin-left: -10px;
	padding-top:85px;
	padding-left:40px;
}

.msg-box textarea{

	width: 140px;
	height: 180px;
	border: 2px solid #eeeeee;
	border-radius: 0;
	box-shadow: none;
	background-color: #ffffff;
}
.msg-box .msgbox-links {
	font-size:12px;
	text-align: right;
	width: 155px;
}

.msg-box .charcount {
	margin-left:55px;
	color: #666666;
	font-size: 12px;
}

.msg-box .sent-sms-content {
	width: 140px;
	padding: 10px;
	font-size: 16px;
}

.action-bar {
	margin-top:20px;
}

.action-bar .btn-send {
	margin-top:10px;
	margin-left:0px;
}

.navbar .nav {
	margin: 2px 10px 0px 0px;
}

.navbar .nav > li {
	float: left;
	margin-bottom: 3px;
}

#subnav li {
	padding: 4px 10px;
	margin-bottom:7px;
	cursor: pointer;
	width: 110px;
}
#subnav li:hover {
	background: #eeeeee;
	border-radius: 6px;
}

#subnav li.compose:hover {
	background: #d24836;

}

#subnav .active{
	border: 1px solid #dddddd;
	border-radius: 6px;
	font-weight: bold;
	color: #333333;
	text-shadow: 1px 0px #ffffff;
	/* background: #cfe07e; */
	background: #ffffff;
}

#subnav .compose{
	border: 1px solid #2a532f;
	padding: 5px 10px;
	border-radius: 3px;
	font-weight: bold;
	color: #ffffff;
	text-shadow: 1px 0px #666666;
	background: #139d24;
	margin-bottom: 20px;
}

#subnav .compose-active{
	border: 1px solid #cccccc;
	padding: 5px 10px;
	border-radius: 3px;
	font-weight: normal;
	color: #666666;
	text-shadow: 1px 0px #ffffff;
	background: #eeeeee;
	margin-bottom: 20px;
}


.footer2 {
	border-top: 1px solid #dddddd;
	position: fixed;
	width: 99%;
	margin: 0 auto;
	bottom:0px;
	text-align: center;
	color: #999999;
	background: #ffffff;
}

#page-sent-sms {
	margin-top: 20px;
	margin-left:20px;
}
.sms-sent-info {
	margin-top: 30px;
}

#page-compose-sms {
	margin-top: 5px;
	margin-left:-10px;
}

#page-compose-sms h3{
	font-size: 17px;
}

#page-contacts-list {
	margin-top: 20px;
	margin-left:20px;
}


/* 	 */

.form-view-row {
	clear: both;
	border-bottom: 1px solid #dddddd;
	height: 45px;
}
.lbl {
	float: left;
	line-height: 45px;
}
.value {
	float: right;
	line-height: 45px;
}

fieldset {
	padding-top: 20px;
}

.ec-form h1 {
	margin-top:30px;
	font-size: 19px;
	font-weight: normal;
	border-bottom: 2px ridge #ffffff;
}

.form-horizontal .control-group {
	margin-bottom:7px;
}

/* TREE */
.tree-toggler {
	cursor: pointer;
}
.tree-toggler:hover{
	background: #eeeeee;
}

.lable-value {
	padding-top: 5px;
}


/* TREE COMPONENT */

#rcpTree span{
	display: inline;
	line-height: 25px;
	cursor: pointer;
}
#rcpTree input{
	display: inline;
	line-height: 25px;
	margin-left: 5px;
}

#rcpTree label {
	display: inline;
	line-height: 25px;
	margin: 0px 0px 0px 10px;
}


.ui-widget-daredevel-checkboxTree li {
    list-style-type: none;
    position: relative;
}

.ui-widget-daredevel-checkboxTree li span {
    cursor: default;
    position: absolute;
    top: 1px;
    left: -16px;
}
