<br/>
<h3>Content</h3>
<hr/>
{% for leaf in lstleaves %}
			<div class="alert alert-primary bold" role="alert">[[leaf.content_type_name]]</div>
      <p>Source document: [[leaf.source_doc_name]]</p>
			{% if leaf.content_eng: %}	<p>ENG:<br> [[leaf.content_eng]]</p>	{% endif %}
			{% if leaf.content_san: %}	<p>SAN:<br> [[leaf.content_san]]</p>	{% endif %}
			{% if leaf.content_kan: %}	<p>KAN:<br> [[leaf.content_kan]]</p>	{% endif %}
			<a href="/admin/contentmgr/[[ leaf.id ]]/edit">Edit</a>&nbsp;&nbsp;
			<a href="/admin/contentmgr/[[ leaf.id ]]/delete">Delete</a>
			</p>
			<hr />
{% endfor %}
<a href="/admin/contentmgr/add/[[branch_id]]" class="btn btn-success btn-sm">Add content</a>
