{% extends "base/base.html"%}
{% set active_page = "categories" %}
{% block content%}
			<!-- BREADCRUMB -->
			<div class="ec-breadcrumb">
				<span><a href="/main/">Home</a></span> <span>»&nbsp;</span> <span>Categories</span>
			</div>
			<!-- // BREADCRUMB -->

			<!-- PAGE HEADER -->
			<div class="page-header">
				<h1>
					Categories
				</h1>
				<p><a href="/main/add_category"> Add root category</a></p>
			</div>
			<!-- end PAGE HEADER -->

			Strout = {{strOut}}


{% endblock %}
{% block extrascript %}
<script type="text/javascript" src="/js/scripts.js"></script>
<script type="text/javascript" src="/js/category.js"></script>
{% endblock %}
