{% extends "base/base.html" %}
{% set active_page = "categories" %}
{% block content %}
			<!-- BREADCRUMB -->
			<div class="ec-breadcrumb">
				<span><a href="/main/member_list">Categories</a></span> <span>»&nbsp;</span> <span>Add Category</span>
			</div>
			<!-- // BREADCRUMB -->

			<!-- PAGE HEADER -->
			<div class="page-header">
				<h1>
					<a href="/main/categories"><img id="ec-back-icon" src="/images/back.png" /></a> Add Category
				</h1>
			</div>
			<!-- end PAGE HEADER -->


			<!-- FORM -->
			<form id="add-category-form" class="form-horizontal frm-category" role="form">
				<input type="hidden" id="parent_category_id" name="parent_category_id" value="{{parent_category_id}}">
			<!-- BUTTONS BAR -->
			<div class="buttons-bar clearfix">
				<div class="pull-right">
				<button type="button" class="btn" id="add-category-btn">Add Category</button>
				<a href="/main/"><button type="button" class="btn">Cancel</button></a>
				</div>
			</div>
			<!-- // BUTTONS BAR -->


			<!-- DYNAMIC DROPDOWNS -->
			<div class="well" id="dynamic_categories">
				{% if dict_categories %}
				<p>
				<select class= "dynamic_category_select" category_id="" id="1" style="width:250px;">
						<option value="" selected="selected">Select..</option>
						{% for keys,category in dict_categories.items() %}
						   <option value="{{category.key.id()}}">{{category.name}}</option>
						{% endfor %}
				</select>
				</p>

				{% else %}
					No categories defined!
				{% endif %}
			</div>
			<!-- // DYNAMIC DROPDOWNS -->



			<div class="row">
				  <div class="form-group">
				    <label for="" class="col-sm-2 control-label">Parent Category ID:</label>
				    <div class="col-sm-10">
							<input type="input" name="parent_category_name" class="form-control" id="parent_category_name" value="{{parent_category_name}}">


							<!--
				      <select name="parent_category" class="parent-category-select">
					  			<option>None</option>
				      </select>
							-->
				    </div>
				  </div>

				  <div class="form-group">
				    <label for="category_name" class="col-sm-2 control-label">Category Name</label>
				    <div class="col-sm-10">
				      <input type="input" name="category_name" class="form-control" id="category_name" placeholder="">
				    </div>
				  </div>


			</div>
			<!-- // FORM -->
			</form>
{% endblock %}

{% block extrascript %}
<script type="text/javascript">var member_data = "";</script>
<script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js"></script>
<script type="text/javascript" src="/js/category.js"></script>
{% endblock%}
