{% extends "base/base.html"%}
{% set active_page = "content" %}
{% block content%}
			<!-- BREADCRUMB -->
			<div class="ec-breadcrumb">
				<span><a href="/main/">Home</a></span> <span>»&nbsp;</span> <span>Content</span>
			</div>
			<!-- // BREADCRUMB -->

			<!-- PAGE HEADER -->
			<div class="page-header">
				{% if parent_category_id %}
					<h1>
					<a href="javascript:history.back();"><img id="ec-back-icon" src="/images/back.png" /></a> {{parent_category_name}}
					</h1>
					{% else %}
					<h1>
					<a href="javascript:history.back();"><img id="ec-back-icon" src="/images/back.png" /></a> Content
					</h1>
					{% endif %}
			</div>
			<!-- end PAGE HEADER -->

			<!-- BUTTONS BAR -->

			<div class="buttons-bar">
						<a href="/main/content/add?category_id="><button class="btn">Add Content</button></a>
			</div>


			<!-- // BUTTONS BAR -->

			<!-- DYNAMIC DROPDOWNS -->
			<div class="well" id="dynamic_categories">
			</div>
			<!-- // DYNAMIC DROPDOWNS -->


			<!-- DYNAMIC TABLE -->
			<div class="well" id="dynamic_content_table">
			</div>
			<!-- // DYNAMIC TABLE -->






{% endblock %}
{% block extrascript %}
<script type="text/javascript" src="/js/scripts.js"></script>
<script type="text/javascript" src="/js/common.js"></script>
<script type="text/javascript" src="/js/content-item.js"></script>
{% endblock %}
