{% extends "base/base.html" %}
{% set active_page = "content" %}
{% block content %}
			<!-- BREADCRUMB -->
			<div class="ec-breadcrumb">
				<span><a href="/main/member_list">Content</a></span> <span>»&nbsp;</span> <span>Edit Content</span>
			</div>
			<!-- // BREADCRUMB -->

			<!-- PAGE HEADER -->
			<div class="page-header">
				<h1>
					<a href="/main/categories"><img id="ec-back-icon" src="/images/back.png" /></a> Edit Content
				</h1>
			</div>
			<!-- end PAGE HEADER -->


			<!-- FORM -->
			<form id="edit-content-form" class="form-horizontal frm-content" role="form">
				<input type="hidden" id="content_item_id" name="content_item_id" value="{{content_item_id}}">

			<!-- BUTTONS BAR -->
			<div class="buttons-bar clearfix">
				<div class="pull-right">
				<button type="button" class="btn" id="edit-content-btn">Save Changes</button>
				<a href="/main/content"><button type="button" class="btn">Cancel</button></a>
				</div>
			</div>
			<!-- // BUTTONS BAR -->


			<div class="row">
				  <div class="form-group">
				    <label for="" class="col-sm-2 control-label">Category:</label>
				    <div class="col-sm-10">{{category_name}}
							<!-- DYNAMIC DROPDOWNS -->
							<div id="dynamic_categories2">
							</div>
							<!-- // DYNAMIC DROPDOWNS -->
				    </div>
				  </div>

				  <div class="form-group">
				    <label for="content" class="col-sm-2 control-label">Content</label>
				    <div class="col-sm-10">
							<textarea class="form-control" id="content_item_content"  name="content_item_content" rows="8" cols="80" placeholder="">{{content}}</textarea>
				    </div>
				  </div>


			</div>
			<!-- // FORM -->
			</form>
{% endblock %}

{% block extrascript %}
<script type="text/javascript">var member_data = "";</script>
<script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js"></script>
<script type="text/javascript" src="/js/common.js"></script>
<script type="text/javascript" src="/js/category.js"></script>
<script type="text/javascript" src="/js/content-item.js"></script>
{% endblock%}
