{% extends "base/base.html"%}
{% set active_page = "home" %}
{% block content%}
			<!-- BREADCRUMB -->
			<div class="ec-breadcrumb">
				<span><a href="/main/">Home</a></span>
			</div>
			<!-- // BREADCRUMB -->

			<!-- PAGE HEADER -->
			<div class="page-header">
				<h1>
					Home
				</h1>
			</div>
			<!-- end PAGE HEADER -->






{% endblock %}
{% block extrascript %}
<script type="text/javascript" src="/js/scripts.js"></script>
<script type="text/javascript" src="/js/common.js"></script>
<script type="text/javascript" src="/js/index.js"></script>
{% endblock %}
