<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Sanathana Dharma</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="[[url_for('static', filename='css/bootstrap.min.css') ]]" rel="stylesheet" type="text/css">
  <link href="[[url_for('static', filename='css/simple.css') ]]" rel="stylesheet" type="text/css">
	<link href="[[url_for('static', filename='css/rtf.css') ]]" rel="stylesheet" type="text/css">
	<link href="[[url_for('static', filename='css/richtext.min.css') ]]" rel="stylesheet" type="text/css">

	<!-- Bootstrap core JavaScript-->
  <script src="[[url_for('static', filename='js/jquery.min.js') ]] "></script>
	<script src="[[url_for('static', filename='js/jquery.richtext.min.js') ]] "></script>
  <script src="[[url_for('static', filename='js/bootstrap.bundle.min.js') ]]"></script>


</head>

<body>


  <div class="d-flex" id="wrapper">
    <!-- Sidebar -->
		{% include "sidebar.html" %}
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
			{% include "topbar.html" %}



				<div id="wrapper">
					<div id="content-wrapper">
						<div class="container-fluid">
							<br />
							<!-- Breadcrumbs-->
							{% include "branch-path.html" %}

							<!-- Page Content -->
							<div class="container-fluid well" style="background-color:#fff">
									{% block page_content %}{% endblock %}
							</div>

						</div>
						<!-- /.container-fluid -->



					</div>
					<!-- /.content-wrapper -->
				</div>
				<!-- /#wrapper -->


<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
				<button class="close" type="button" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
			</div>
			<div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
			<div class="modal-footer">
				<button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
				<a class="btn btn-primary" href="login.html">Logout</a>
			</div>
		</div>
	</div>
</div>


<!--- end -->


    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->

	<!-- Sticky Footer -->
<!--
	<footer class="footer mt-auto py-3">
		<div class="container my-auto">
			<div class="copyright text-center my-auto">
				<span>"Unlicensed License"</span>
			</div>
		</div>
	</footer>
-->

  <!-- Menu Toggle Script -->
<!--
  <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  </script>
-->

	<script src="[[url_for('static', filename='js/sadha.js')]]?v=[[ range(1, 9999) | random ]]"></script>
	</body>

	</html>
