<html>
  <head>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/instantsearch.js@2.0.0/dist/instantsearch.min.css">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/instantsearch.css@7.3.1/themes/reset-min.css">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/instantsearch.css@7.3.1/themes/algolia-min.css" >
    <link rel="stylesheet" type="text/css" href="[[url_for('static', filename='css/search.css') ]]">
    <link rel="stylesheet" type="text/css" href="[[url_for('static', filename='css/index.css') ]]">
    <link rel="stylesheet" type="text/css" href="[[url_for('static', filename='css/app.css') ]]">
    <title>Search</title>
  </head>
  <body>

		<div class="ais-InstantSearch">
		  <h1>Sanathana Dharma</h1>

			<div class="left-panel">
        <div id="clear-refinements"></div>
        <h2>Filter</h2>
        <div id="refine"></div>
      </div>
		  <div class="right-panel">
		    <div id="searchbox"></div>
		    <div id="hits"></div>
		    <div id="pagination"></div>
		  </div>

		</div>

    <!-- js -->
		<!-- the following algolia.js file is not pushed / made available on github as it contains API keys -->
		 <script src="[[url_for('static', filename='js/algolia.js') ]]" ></script>
		 <!--<script src="https://cdn.jsdelivr.net/algoliasearch/3.32.0/algoliasearchLite.min.js"></script>-->
		 <!--<script src="https://cdn.jsdelivr.net/npm/instantsearch.js@4.0.0"></script>-->

		<script src="https://cdn.jsdelivr.net/npm/algoliasearch@3.35.0/dist/algoliasearchLite.min.js" ></script>
		<script src="https://cdn.jsdelivr.net/npm/instantsearch.js@3.4.0/dist/instantsearch.production.min.js" ></script>


    <script src="[[url_for('static', filename='js/search.js') ]]"></script>
  </body>
</html>
