<!-- Sidebar -->
<div class="bg-light" id="sidebar-wrapper">
	<div class="sidebar-heading" style="background-color: #1a73e8; color:#fff; height:54px; box-shadow: 0 3px 4px 0 rgba(0,0,0,.2), 0 3px 3px -2px rgba(0,0,0,.14), 0 1px 8px 0 rgba(0,0,0,.12)">Sanathana Dharma</div>
	<div class="list-group list-group-flush border-right" style="height:94%">
		<a href="/admin/treemgr/list" class="list-group-item list-group-item-action bg-light">Categories</a>
		<a href="/admin/contentmgr/view/5658442790338560" class="list-group-item list-group-item-action bg-light">Content</a>
	</div>
</div>
