
<nav class="navbar navbar-expand-lg navbar-light border-bottom" style="background-color: #1a73e8; height:55px; box-shadow2: 0 3px 4px 0 rgba(0,0,0,.2), 0 3px 3px -2px rgba(0,0,0,.14), 0 1px 8px 0 rgba(0,0,0,.12)">
	<!--<button class="btn btn-primary" id="menu-toggle">Toggle Menu</button>-->

	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav ml-auto mt-2 mt-lg-0">
				<!--
				<li class="nav-item active">
					<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Link</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Dropdown
					</a>
					<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="#">Action</a>
						<a class="dropdown-item" href="#">Another action</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="#">Something else here</a>
					</div>
				</li>
			-->

			<li class="nav-item no-arrow" style="margin-left:30px;">
				<span style="padding:10px; float:right; color:#fff;">Language:&nbsp;
				<select>
					{% for x in languages: %}
					<option value=[[x]]>[[languages[x]]]</option>
					{% endfor %}
				</select>
				</span>
			</li>
			<li class="nav-item no-arrow" style="margin-left:30px;">
			<div style="margin-top:15px;color:#fff;">[[name]]</div>
			</li>
				<li class="nav-item dropdown no-arrow">
					<a class="nav-link" style="color:#fff;" href="#" id="userDropdown" ro/le="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<!--<i class="fas fa-user-circle fa-fw"></i>-->
						<i><img width="30px" height="30px" src="[[profile_pic]]" /></i>
					</a>
					<div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
						<!--
						<a class="dropdown-item" href="#">Settings</a>
						<a class="dropdown-item" href="#">Activity Log</a>
						<div class="dropdown-divider"></div>
					-->
						<a class="dropdown-item" href="/auth/logout" >Logout</a>
					</div>
				</li>


</ul>
</div>

</nav>
