{# [START form] #}
{% set active_page = "catmgr" %}
{% extends "base.html" %}
{% block content %}

{% include "branch-path.html" %}
<h3><a href="javascript:history.back(-1);"><span class="glyphicon glyphicon-circle-arrow-left" style="color:grey"></span></a>&nbsp;&nbsp;Add Categories

</h3>

<form method="POST" enctype="multipart/form-data">
<input type="hidden" name="branch_parent_id" value="{{branch_parent_id}}" />
  <div class="form-group">
    <label for="name">Category Name 1</label>
    <input type="text" name="name1" id="name1" value="" class="form-control"/>
  </div>
	<div class="form-group">
    <label for="name">Category Name 2 </label>&nbsp;<small>(optional)</small>
    <input type="text" name="name2" id="name2" value="" class="form-control"/>
  </div>
	<div class="form-group">
    <label for="name">Category Name 3</label>&nbsp;<small>(optional)</small>
    <input type="text" name="name3" id="name3" value="" class="form-control"/>
  </div>
	<div class="form-group">
    <label for="name">Category Name 4</label>&nbsp;<small>(optional)</small>
    <input type="text" name="name4" id="name4" value="" class="form-control"/>
  </div>
	<div class="form-group">
    <label for="name">Category Name 5</label>&nbsp;<small>(optional)</small>
    <input type="text" name="name5" id="name5" value="" class="form-control"/>
  </div>



  <button type="submit" class="btn btn-success">Add</button>
</form>

{% endblock %}
{# [END form] #}
