<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sanathana Dharma</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>


    <div class="">
      <div class="container-fluid">
        <div class="navbar-header">
          <div class="navbar-brand" style="font-weight:bold; font-size:22px; margin-top:10px;">Sanathana Dharma</div>
					</div>
        </div>
      </div>
    </div>


		<div class="col-sm-2">
      {% include "sidebar.html" %}
    </div>
		<div class="col-md-10">
  	{% include "topbar.html" %}

    <div class="container-fluid well" style="background-color:#fff">
      {% block content %}{% endblock %}
    </div>
	</div>


  </body>
</html>
