{% extends "base.html" %}
{% block page_content %}

<h3>
		{% if isRoot is not none: %}
				[[catname]]&nbsp;&nbsp;
		{% else %}
				<a href="javascript:history.back(-1);">&larr;</a>&nbsp;&nbsp;
				[[catname]]&nbsp;&nbsp;
				<span style="float:right;">
					&nbsp;
					<a href="/admin/treemgr/[[branch_parent_id]]/edit" class="btn btn-primary">
						Edit
					</a>
					<a href="/admin/treemgr/[[branch_parent_id]]/delete" class="btn btn-primary">
						Delete
					</a>
				</span>
		{% endif %}
</h3>


<hr>

<br/>
<div class="col-md-5 mb-3">
			{% if isRoot is none: %}
				<h5>Sub categories</h5>
			{% endif %}
<br/>
{% for branch in branches %}
      <h5><a href="/admin/treemgr/list/[[branch.id]]"> [[branch.name]]</a>  &nbsp; &nbsp;
				<span style="float:right;"><small><a href="/admin/contentmgr/view/[[branch.id]]" >View Content</a> </small></span>
				<hr/>
			</h5>
{% endfor %}
<br/>
<a href="/admin/treemgr/add/[[branch_parent_id]]" class="btn btn-success btn-sm">Add category here</a>
</div>



<!--
<div id="branch_leaves" class="well"></div>

<script>
	$(document).ready(function() {
	 $('#branch_leaves').load('/admin/contentmgr/view-div/[[branch_parent_id]]');
	});
</script>
-->
{% endblock %}
