{% extends "base.html" %}
{% block page_content %}

<h3><a href="javascript:history.back(-1);"><span class="glyphicon glyphicon-circle-arrow-left" style="color:grey"></span></a>&nbsp;&nbsp;{{branch.name}}
	&nbsp;&nbsp;

	<a href="/admin/treemgr/{{branch.id}}/edit" class="btn btn-primary">
    Edit
  </a>
	<a href="/admin/treemgr/{{branch.id}}/delete" class="btn btn-primary">
		Delete
 </a>
 <a href="/admin/contentmgr/view/{{branch.id}}" class="btn btn-primary">
	 View content
</a>
<a href="/admin/contentmgr/add/{{branch.id}}" class="btn btn-primary">
	Add content
</a>
</h3>

<div class="btn-group">

</div>

<div class="clearfix">&nbsp;</div>
<div class="well">
    <p class="book-description">{{branch.description}}</p>
</div>

{% endblock %}
